name: webhook

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: get changed files
        id: changed-files
        uses: tj-actions/changed-files@v23.1

      - name: list all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file"
          done

      - name: request to insert content to DB
        # if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          curl -X POST -H "Content-Type: application/json" -H "Authorization: ${{ secrets.API_KEY_DEV }}" -d "${{ steps.changed-files.outputs.all_changed_files }}" https://ytztx20yia.execute-api.ap-northeast-1.amazonaws.com/mirumitech-dev-apis/insert-content-webhook
          curl -X POST -H "Content-Type: application/json" -H "Authorization: ${{ secrets.API_KEY_PRD }}" -d "${{ steps.changed-files.outputs.all_changed_files }}" https://s9ubhi41m7.execute-api.ap-northeast-1.amazonaws.com/mirumitech-prd-apis/insert-content-webhook

      - name: regenerate static site
        # if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${{ secrets.PAT }}" -d '{"ref": "release/prd"}' https://api.github.com/repos/mirumirumi/mirumi-tech-frontend/actions/workflows/deploy.yaml/dispatches
