name: deploy

on:
  push:
    branches:
      - main
      - release/prd

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2  # diff between this and latest

      - name: get changed files
        id: changed-files
        uses: tj-actions/changed-files@v23.1

      - name: list all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file"
          done

      - if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          curl -X POST -H "Content-Type: application/json" -H "X-Api-Key: ${{ secrets.API_KEY_DEV }}" -d '{"files": ${{ steps.changed-files.outputs.all_changed_files }}}' https://ytztx20yia.execute-api.ap-northeast-1.amazonaws.com/mirumitech-dev-apis/insert-content-webhook

      - if: ${{ github.ref == 'refs/heads/release/prd' }}
